.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  display: block;
  z-index: 10;
  @keyframes fade-out { from {top:0} to {top:-65px} }
  @-webkit-keyframes fade-out { from {top:0} to {top:-65px} }
  @-moz-keyframes fade-out { from {top:0} to {top:-65px} }
  @-o-keyframes fade-out { from {top:0} to {top:-65px} }
  @-ms-keyframes fade-out { from {top:0} to {top:-65px} }
  @keyframes fade-in { from {top:-65px} to {top:0} }
  @-webkit-keyframes fade-in { from {top:-65px} to {top:0} }
  @-moz-keyframes fade-in { from {top:-65px} to {top:0} }
  @-o-keyframes fade-in { from {top:-65px} to {top:0} }
  @-ms-keyframes fade-in { from {top:-65px} to {top:0} }
  &.headroom--unpinned {
    top: -65px;
    animation: fade-out 500ms;
    -webkit-animation: fade-out 500ms;
    -moz-animation: fade-out 500ms;
    -o-animation: fade-out 500ms;
    -ms-animation: fade-out 500ms;
  }
  &.headroom--pinned {
    top: 0;
    animation: fade-in 500ms;
    -webkit-animation: fade-in 500ms;
    -moz-animation: fade-in 500ms;
    -o-animation: fade-in 500ms;
    -ms-animation: fade-in 500ms;
  }
  border-bottom: 1px solid #ccc;
  background: #fff;
  box-shadow: 0 0 5px #777;
  .head-nav-menu {
    width: 250px;
    a {
      position: relative;
      em {
        position: absolute;
        top: 3px;
        right: 10px;
        color: #aaa;
        font-size: 12px;
      }
    }
  }
  a {
    &.nav-link {
      line-height: 60px;
      height: 60px;
      margin-right: 25px;
      font-size: 17px;
    }
    &.logo {
      line-height: 60px;
      height: 60px;
      margin-right: 35px;
      font-size: 30px;
      font-weight: bold;
      color: #333;
      &:hover {
        color: #000;
      }
    }
    &.btn {
      font-weight: bold;
    }
  }
  .container {
    position: relative;
  }
  .account {
    position: absolute;
    right: 5px;
    top: 16px;
    img.avatar {
      width: 45px;
      height: 45px;
      border-radius: 10px;
      box-shadow: 0 0 2px #777;
      position: relative;
      top: -12px;
    }
    span.username {
      display: inline-block;
      padding-left: 5px;
    }
    .userinfo {
      display: block;
      cursor: pointer;
      position: relative;
      font-weight: bold;
      small {
        font-weight: normal;
        color: #aaa;
      }
    }
    .dropdown-menu {
      top: 70%;
    }
  }
}
.header-pad {
  height: 70px;
}
