.info {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px #777;
  &.large {
    width: 600px;
    height: 100px;
    margin: 150px auto;
    position:relative;
    color: #433;
    .glyphicon {
      font-size: 60px;
      position: absolute;
      left: 20px;
      top: 20px;
    }
    h2 {
      position: absolute;
      left: 110px;
      top: 15px;
      right: 10px;
      font-size: 40px;
      margin: 0;
      padding: 0;
    }
    div.content {
      position: absolute;
      left: 110px;
      right: 10px;
      top: 65px;
      color: #999;
    }
  }
  &.small {
    width: 95%;
    height: 110px;
    margin: 150px auto;
    position:relative;
    color: #433;
    .glyphicon {
      font-size: 60px;
      position: absolute;
      left: 20px;
      top: 22px;
    }
    h2 {
      position: absolute;
      left: 110px;
      right: 10px;
      top: 15px;
      font-size: 30px;
      margin: 0;
      padding: 0;
    }
    div.content {
      position: absolute;
      left: 110px;
      right: 10px;
      top: 55px;
      font-size: 13px;
      color: #999;
    }
  }
}
