.ticket {
  .create {
    @include page-block;
    textarea {
      max-width: 100%;
      margin-bottom: 5px;
    }
  }
  .create {
    overflow: hidden;
    zoom: 1;
    .small {
      color: #AAA;
    }
    label {
      margin: 7px;
    }
  }
  .filter {
    @include page-block;
    .col-sm-10 label {
      font-weight: normal;
      margin-right: 8px;
    }
  }
  .list {
    .item {
      @include page-block;
    }
    .loading {
      color: #777;
      font-size: 40px;
      text-align: center;
      .glyphicon {
        @-webkit-keyframes rotate {
          0% {
            -webkit-transform: rotate(0deg);
          }
          50% {
            -webkit-transform: rotate(180deg);
          }
          100% {
            -webkit-transform: rotate(360deg);
          }
        }
        -webkit-animation: rotate 1s infinite linear;
      }
    }
  }
}
