$brand-primary: #428bca;
$brand-success: #5cb85c;
$brand-info:    #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;

@mixin page-block {
  background: #fff;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px #777;
  h1, h2, h3, h4, h5, h6, h7, h8, h9 {
    margin: 0 0 10px 0;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    zoom: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: 华文黑体, 黑体, arial;
  outline: none;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background: #eee;
  @import 'header';
  @import 'footer';
  @import 'infopage';
  @import 'login';
  @import 'events';
  .main-body {
    min-height: 80%;
  }
}
.hidden-start {
    display: none;
}
.user-sign {
    display: none;
}
.user-info {
    display: none;
    margin: 0 5px;
    img {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        box-shadow: 0 1px 3px #777;
    }
    font-size: 12px;
    font-weight: bold;
}   
.label-did {
    background: #777;
}
.label-say {
    background: #428bca;
}
.label-think {
    background: #5cb85c;
}
.label-warn {
    background: #d9534f;
}
.status {
    .status-item {
        padding: 5px;
        border-bottom: 1px solid #eee;
        small {
            font-size: 10px;
            color: #999;
            font-weight: bold;
        }
    }
}
