$brand-primary: #428bca;
$brand-success: #5cb85c;
$brand-info:    #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;

* {
  margin: 0;
  padding: 0;
  font-family: 华文黑体, 黑体, arial;
}
body {
  background: #eee;
  @import 'header';
  @import 'footer';
  @import 'infopage';
  .main-body {
    height: 740px;
  }
}
