    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3><b>{{Site Title}}</b></h3>
            {{Site Slogan}}
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <h3>
              <span class="glyphicon glyphicon-comment"></span>
              {{Contact}}
            </h3>
            {{For any issue about the content of this site, please contact the server admin at}}
            {{Site Admin}}
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <h3>
              <span class="glyphicon glyphicon-stats"></span>
              {{Site Info}}
            </h3>
            {{Software Version}} : 1.0
            <br/>
            {{Execution Time}} : <%=mstime()-REQUEST_TIME%>ms
          </div>
        </div>
      </div>
      <div class="copyright container">
        <span class="glyphicon glyphicon-copyright-mark"></span>
        {{Copyright}}
      </div>
    </div>
  </body>
</html>
