<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>{{Site Title}}</title>

    <!-- dependencies -->
    <link rel="stylesheet" href="<%=BASE%>dep/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="<%=BASE%>dep/css/bootstrap-theme.min.css"/>
    <script type="text/javascript" src="<%=BASE%>dep/js/jquery.min.js"></script>
    <script type="text/javascript" src="<%=BASE%>dep/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="<%=BASE%>dep/js/headroom.min.js"></script>
    <script type="text/javascript" src="<%=BASE%>dep/js/underscore.min.js"></script>
    <script type="text/javascript" src="<%=BASE%>dep/js/arrive.min.js"></script>

    <link rel="stylesheet" type="text/css" href="<%=BASE%>res/style/index.css"/>
    <script type="text/javascript" src="<%=BASE%>res/js/header.js"></script>
    <style>
      .visible-user {
        <%if(!user()){%>
          display: none;
        <%}%>
      }
      .visible-verified-user {
        <%if(!user('verified')){%>
          display: none;
        <%}%>
      }
      <%if(user()){%>
      .visible-for-<%=user('id')%> {
        display: block;
      }
      <%}%>
    </style>
  </head>
  <body>
    <div class="header headroom">
      <div class="container">
          <div class="dropdown visible-xs-inline">
              <a id="head-nav-menu-btn" href="javascript:;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="logo">
                  {{Site Title}}
                  <span class="caret"></span>
              </a>
              <ul class="dropdown-menu head-nav-menu" role="menu" aria-labelledby="head-nav-menu-btn">
                  <li><a href="<%=BASE%>">{{Events}} <em>{{What's going on}}</em></a></li>
                  <li><a href="tasks">{{Tasks}} <em>{{What needs to be done}}</em></a></li>
                  <li><a href="wiki">{{Wiki}} <em>{{What we know}}</em></a></li>
                  <li><a href="team">{{Team}} <em>{{Who we are}}</em></a></li>
                  <li><a href="dev">{{Dev-Tool}} <em>{{Git, Cron, Monitor}}</em></a></li>
              </ul>
          </div>
          <a href="javascript:showmenu()" class="logo hidden-xs">{{Site Title}}</a>
          <span class="hidden-xs">
            <a href="<%=BASE%>" class="nav-link" ref="" title="{{What's going on}}">{{Events}}</a>
            <a href="tasks" class="nav-link" ref="" title="{{What needs to be done}}">{{Tasks}}</a>
            <a href="wiki" class="nav-link" ref="" title="{{What we know}}">{{Wiki}}</a>
            <a href="team" class="nav-link" ref="" title="{{Who we are}}">{{Team}}</a>
            <a href="dev" class="nav-link" ref="" title="{{Git, Cron, Monitor}}">{{Dev-Tool}}</a>
          </span>
          <div class="account dropdown">
            <%if(user()) {%>
            <div class="userinfo" id="account-menu-btn" href="javascript:;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="avatar" src="<%=user('avatar')%>"/>
              <span class="username">
                <%=user('name')%><br/>
                <small><%=user('title')%></small>
              </span>
            </div>
            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="account-nav-menu-btn">
              <li><a href="settings"><span class="glyphicon glyphicon-wrench"></span> {{Settings}}</a></li>
              <li><a href="logout"><span class="glyphicon glyphicon-log-out"></span> {{Logout}}</a></li>
            </ul>
            <%}else{%>
              <a href="login" class="btn btn-primary">{{Login}}</a>
              <a href="register" class="btn btn-default">{{Register}}</a>
            <%}%>
          </div>
      </div>
    </div>
    <div class="header-pad"></div>
    <div class="container main-body">
