<%=tpl('header')%>
<script type="text/javascript" src="res/js/events.js"></script>
<div class="events">
    <div class="row">
        <div class="col-md-5">
            <div class="block">
                <h4>
                    <span class="glyphicon glyphicon-bullhorn"></span>
                    {{Announcements}}
                    <button onclick="editOrSaveAnn(this)" class="btn visible-verified-user btn-xs btn-default pull-right">
                        <span class="glyphicon glyphicon-edit"></span>
                        <span class="text">{{Edit}}</span>
                        <span class="text hidden-start">{{Save}}</span>
                    </button>
                </h4>
                <div id="announcement"><%=data_read('announcement');%></div>
            </div>
            <%=tpl('calendar')%>
        </div>
        <div class="col-md-7">
            <div class="block">
                <h4>
                    <span class="glyphicon glyphicon-tags"></span>
                    {{Events}}
                </h4>
                <div class="status">
                    <%import('model/status.php');foreach(list_status() as $status) {%>
                        <div class="status-item">
                            <span class="user-sign"><%=$status['user']%></span>
                            <span class="label label-<%=$status['type']%>"><%=LANG($status['type'])%></span>
                            <%=$status['content']%>
                            <small>- <%=human_time($status['date'])%></small>
                        </div>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
</div>
<%=tpl('footer')%>
