<%=tpl('header')%>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-offset-1 col-md-10 login form-horizontal" action="<%=BASE%>login" method="post">
            <form action="?action=basic" method="post" enctype="multipart/form-data">
                <h3>{{Settings}}</h3>
                <div class="form-group">
                  <label for="username" class="col-sm-2 control-label">{{Username}}</label>
                  <div class="col-sm-10">
                      <input disabled type="text" class="form-control" id="username" name="username" value="<%=user('id')%>"/>
                  </div>
                </div>
                <div class="form-group">
                  <label for="realname" class="col-sm-2 control-label">{{Real Name}}</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="realname" name="realname" value="<%=user('name')%>"/>
                  </div>
                </div>
                <div class="form-group visible-verified-user">
                  <label for="title" class="col-sm-2 control-label">{{Title}}</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control" id="title" name="title" value="<%=user('title')%>"/>
                  </div>
                </div>
                <div class="form-group">
                  <label for="avatar" class="col-sm-2 control-label">{{Avatar}}</label>
                  <div class="col-sm-4">
                      <input type="file" class="form-control" id="avatar" name="avatar"/>
                  </div>
                  <div class="col-sm-5">
                      <img id="avatarimg" src="<%=user('avatar')%>" style="width:70px; height: 70px; margin: 2px"/>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-3 col-sm-offset-2 col-sm-2">
                      <input type="submit" class="btn btn-default" value="{{Save}}"/>
                  </div>
                  <div class="col-xs-9 col-sm-8 errormsg">
                      <%=$errormsg[0]%>
                  </div>
                </div>
            </form>

            <form class="hidden-verified-user" action="settings?action=verifysend" method="post">
                <h4>{{Identity Verify}}</h4>
                <center class="well">
                    {{Verifing your identity using a trusted email address will give you a lot more permission on the site}}
                </center>
                <div class="form-group">
                  <label for="email" class="col-sm-2 control-label">{{Email}}</label>
                  <div class="col-sm-10">
                      <div class="input-group">
                          <input type="text" class="form-control" id="email" name="email"/>
                          <span class="input-group-addon">{{verify email}}</span>
                      </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-3 col-sm-offset-2 col-sm-2">
                      <input type="submit" class="btn btn-default" value="{{Send}}"/>
                  </div>
                </div>
            </form>

            <form action="?action=password#password" method="post">
                <a name="password"></a>
                <h4>{{Password}}</h4>
                <div class="form-group">
                  <label for="password" class="col-sm-2 control-label">{{Password}}</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" name="password"/>
                  </div>
                </div>
                <div class="form-group">
                  <label for="retype" class="col-sm-2 control-label">{{Retype}}</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="retype" name="retype"/>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-3 col-sm-offset-2 col-sm-2">
                      <input type="submit" class="btn btn-default" value="{{Save}}"/>
                  </div>
                  <div class="col-xs-9 col-sm-8 errormsg">
                      <%=$errormsg[1]%>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>
<%=tpl('footer')%>


