<%=tpl('header', array('title'=>LANG('Tasks')))%>
<%
$stext = array(
    'pending'    => '等待中',
    'working'    => '处理中',
    'confirming' => '待确认',
    'closed'     => '已关闭',
    'suggest'    => '建议',
    'bug'        => 'Bug',
    'defect'     => '故障'
);
$sstyle = array(
    'pending'    => 'danger',
    'working'    => 'info',
    'confirming' => 'primary',
    'closed'     => 'success',
    'suggest'    => 'info',
    'bug'        => 'warning',
    'defect'     => 'danger'
);
%>
<div class="ticket">
  <div class="row">
    <div class="col-sm-3">
      <div class="info">
        <h4>
          <i class="glyphicon glyphicon-info-sign"></i>
          工单详情
        </h4>
        <label>类型：<span class="btn-xs btn-<%=$sstyle[$ticket['type']]%>"><%=$stext[$ticket['type']]%></span></label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <label>状态：<span class="btn-xs btn-<%=$sstyle[$ticket['status']]%>"><%=$stext[$ticket['status']]%></span></label>
        <h4>
          <i class="glyphicon glyphicon-tags"></i>
          标签
        </h4>
        <%if(user('verified')) {%>
        <form action="ticket" method="post">
          <textarea class="form-control" name="tag"><%}
            echo implode(' ', $ticket['tag']);
            if(user('verified')) {%></textarea>
            <input type="hidden" name="id" value="<%=$ticket['id']%>"/>
            <input type="submit" class="btn-xs btn-primary" value="修改"/>
        </form>
        <%}%>
      </div>
    </div>
    <div class="col-sm-9 thread">
      <%foreach($ticket['content'] as $c) {%>
      <div class="item row <%=($ticket['user'] == $c['user']?'left':'right')%>">
        <div class="col-xs-2 col-md-1">
          <div class="user-sign pull-right"><%=$c['user']%></div>
        </div>
        <pre class="col-xs-8 col-md-10"><%=htmlentities($c['text'])%><div class="time"><%=human_time($c['time'])%></div></pre>
      </div>
      <%}%>

      <%if(user('verified')) {%>
        <form action="ticket" method="post">
          <div class="item row <%=($ticket['user'] == user('id')?'left':'right')%>">
            <div class="col-xs-2 col-md-1">
              <div class="user-sign pull-right"><%=user('id')%></div>
            </div>
            <textarea name="ticket" class="col-xs-8 col-md-10"></textarea>
            <input type="hidden" name="id" value="<%=$ticket['id']%>"/>
          </div>
          <div class="item row">
            <div class="col-xs-2 col-md-1"></div>
            <div class="col-xs-10 col-md-11">
              <input type="submit" class="btn btn-primary" value="回复"/>
              <%function ustatus($status, $sstyle, $stext, $c=false) {%>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                  <input type="radio" name="status" value="<%=$status%>" <%=($c?'checked':'')%>/>
                  更新至
                  <span class="btn btn-xs btn-<%=$sstyle[$status]%>">
                    <%=$stext[$status]%>
                  <span>
                </label>
              <%} if($ticket['user'] == user('id')) {
                ustatus('pending', $sstyle, $stext, true);
                ustatus('closed', $sstyle, $stext);
              } else {
                ustatus('working', $sstyle, $stext, true);
                ustatus('confirming', $sstyle, $stext);
              }%>
            </div>
          </div>
        </form>
      <%}%>
    </div>
  </div>
</div>
<%=tpl('footer')%>
