<%=tpl('header', array('title'=>$title))%>
<div class="wiki">
    <div class="breadcrumb">
        <a href="<%=BASE%>wiki">{{Wiki}}</a>
        <%$fp = '';foreach($path as $p) {$fp.='/' . urlencode($p)%>
        / <a href="<%=BASE%>wiki?p=<%=$fp%>"><%=$p%></a>
        <%}%>
        <a href="<%=BASE%>wiki?edit&p=<%=$query%>" class="btn btn-xs btn-primary visible-verified-user pull-right">
            <span class="glyphicon glyphicon-edit"></span>
            {{Edit}}
        </a>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="index-table">
                <h4>{{Table of contents}}</h4>
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <div class="wiki-content">
            <%if($isedit) {%>
                <link rel="stylesheet" href="<%=BASE%>dep/kindeditor/themes/default/default.css"/>
                <script type="text/javascript" charset="utf-8" src="<%=BASE%>dep/kindeditor/kindeditor-min.js"></script>
                <script type="text/javascript" charset="utf-8" src="<%=BASE%>dep/kindeditor/lang/zh_CN.js"></script>
                <script type="text/javascript" charset="utf-8" src="<%=BASE%>res/js/wikiedit.js"></script>
                <textarea name="content" class="editor"></textarea>
            </div>
            <div class="wiki-content">
                <form>
                    <h4>
                        <span class="glyphicon glyphicon-paperclip"></span>
                        {{Attachment}}
                        <label class="btn btn-default btn-sm pull-right">
                            <span class="glyphicon glyphicon-plus" for="uploader"></span>
                            <input type="file" id="uploader" name="uploader" style="display: none" onchange="upload(this)" multiple/>
                        </label>
                    </h4>
                </form>
            <%} else { %>
                <%if(isset($content{0})) { %>
                <%=$content%>
                <%} else { %>
                <h3><span class="glyphicon glyphicon-paperclip"></span> {{This page does not exist}}</h3>
                <a href="<%=BASE%>wiki?edit&p=<%=$query%>" class="btn btn-primary visible-verified-user">
                    <span class="glyphicon glyphicon-edit"></span>
                    {{Create}}
                </a>
                <%}%>
            <%}%>
            </div>
        </div>
    </div>
</div>
<%=tpl('footer')%>
